doctype html
html(lang="fr")
    head
        title GulpFile
        meta(charset="UTF-8")
        link(href='css/main.min.css' rel='stylesheet' type='text/css')
    body
        .container
            h1 Gulpfile.js / Jade / SCSS / image

        script(src='js/app.min.js')